@import "tailwindcss";
@font-face {
    font-family: outfit;
    src: url('../src/assets/fonts/Outfit-Regular.ttf');
}
@theme{
    --font-outfit : outfit, 'sans-serif';
}
@keyframes cardAppear {
  0% { opacity: 0; transform: translateY(-20px);}
  100% { opacity: 1; transform: translateY(0); }
}

.card-appear {
  animation: cardAppear 700ms ease-out;
}